.silver {
  display: inline-block;
  position: relative;
  margin: auto;
  width: fit-content;
  max-width: 300px;
  margin-bottom: 0px;
}

.corvette {
  display: inline-block;
  position: relative;
  margin: 0px auto;
  border-radius: 50%;
  opacity: 0;
  animation: fadeinout 10s linear forwards;
  animation-delay: 5s;
  animation-iteration-count: 1;
}

.active {
  display: flex;
  justify-content: center;
}

@keyframes fadeinout {
  0% {
    opacity: 0;
    transition-delay: 8s;
  }

  100% {
    opacity: 70%;

    transition: opacity 2s;
  }
}
