.running-box {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
}

.sonic {
    position: relative;
    width: fit-content;
    max-width: 300px;
    animation: sonicRunning linear 2s infinite;
    /* animation-delay: 4s;
    animation-play-state: running; */
    margin: 10px 0 0 0;
   
}

@keyframes sonicRunning {
  from {
    left: -600px;
  }
  to {
    left: 600px;
  }
}
