.soundWave {
  display: fixed;
  position: static;
  bottom: 10px;
  left: 10%;
  z-index: 5;
}

.left {
  display: inline-block;
  align-self: auto;
}

.paused {
  animation-play-state: paused;
}

@keyframes mymove {
  from {
    right: -600px;
  }
  to {
    right: 600px;
  }
}
