.earth {
  position: relative;
  flex-direction: column;
  align-items: center;
  right: 550px;
  bottom: 45px;
  margin: 5px;
}

.space {
  box-sizing: border-box;
  position: fixed;
  display: block;
  bottom: 0px;
  width: 100%;
  z-index: 2;
  background-color: rgb(0, 20, 75);
  height: 155px;
}

.hide {
  display: none;
}

.countdown {
  display: flex;
  color: yellow;
  font-size: 30px;
  justify-content: center;
}

.ship {
  position: relative;
  bottom: 75px;
  animation: mymove 360s linear 1 forwards;
  animation-play-state: running;
  margin-top: 10px;
}

.paused {
  animation-play-state: paused;
}

@keyframes mymove {
  from {
    right: -600px;
  }
  to {
    right: 600px;
  }
}

.stars,
.twinkling,
.clouds {
  box-sizing: border-box;
  position: fixed;
  display: block;
  bottom: 0px;
  width: 100%;

  height: 155px;
}

.stars {
  z-index: 0;
  background: #000 url("https://image.ibb.co/mjnygo/stars.png") repeat top
    center;
}

.twinkling {
  z-index: 1;
  background: transparent url("https://image.ibb.co/ir1DE8/twinkling.png")
    repeat top center;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  z-index: 3;
  background: transparent url("https://image.ibb.co/bT4N7T/clouds.png") repeat
    top center;
  animation: move-clouds-back 200s linear infinite;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
