.active {
  display: block;
}

.sonic {
  position: relative;
  width: fit-content;
  max-width: 300px;
  animation: mymove linear 1s 50 reverse;
  animation-delay: 3s;
  animation-play-state: running;
  margin-top: 10px;
}

.inactive {
  display: none;
}

@keyframes mymove1 {
  from {
    left: 10%;
    transform: rotate(90deg);
  }
  to {
    left: 90%;
    transform: rotate(180deg);
  }
}

@keyframes mymove {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-right-pause {
  50% {
    left: 0;
  }
  75% {
    left: -100px;
  }
  100% {
    left: 0;
  }
}
