p {
    font-weight: bold;
    max-width: 600px;
    text-align: center;
    margin: 20px auto;
}

.App {
    text-align: center;
    background-color: #282c34;
    height: 100vh;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-size: calc(10px + 2vmin);
    color: white;
}

button {
    font-size: 30px;
    width: 150px;
    font-weight: bold;
    color: white;
    background-color: darkblue;
    border-radius: 10px;
    margin: 10px;
    border-color: turquoise;
}

.main {
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    min-height: 80vh;
    width: 100%;
    max-width: 1400px;
}

.nav-setup {
    margin-left: 40px;
}
